{{ "<!-- Carousel Section -->" | safeHTML }}
<section class="pt-2 pt-md-4 pb-3 pb-md-5 bg-light lined" id="plans">


        <div class="container">
          <div class="pt-main-wrap"><h4 class="pt-main-title">Pricing</h4>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="pt-inner-wrap"><h4 class="pt-title">Monthly</h4><span class="pt-cir"><i
                            class="fa fa-mobile"></i></span>
                        <h3 class="pt-price"><span class="pt-amount">$ 14.30</span><span
                                class="pt-duration">per month</span>
                        </h3><h5 class="pt-support">Basic Support</h5>
                        <ul class="features">
                            <li>Duis sed est in mi finibus</li>
                            <li>Nullam feugiat sem nec</li>
                            <li>Pellentesque feugiat nunc</li>
                            <li>Morbi ornare ipsum quis</li>
                        </ul>
                        <div class="pt-buttons"><a class="btn btn-trial" href="#">Free Trial</a><a class="btn btn-buy"
                                                                                                   href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="pt-inner-wrap"><h4 class="pt-title">Yearly</h4><span class="pt-cir"><i
                            class="fa fa-tablet"></i></span>
                        <h3 class="pt-price"><span class="pt-amount">$ 7.20</span><span
                                class="pt-duration">per month</span>
                        </h3><h5 class="pt-support">24/7 Support</h5>
                        <ul class="features">
                            <li>Duis sed est in mi finibus</li>
                            <li>Nullam feugiat sem nec</li>
                            <li>Pellentesque feugiat nunc</li>
                            <li>Morbi ornare ipsum quis</li>
                        </ul>
                        <div class="pt-buttons"><a class="btn btn-trial" href="#">Free Trial</a><a class="btn btn-buy"
                                                                                                   href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="pt-inner-wrap"><h4 class="pt-title">Two Year</h4><span class="pt-cir"><i
                            class="fa fa-laptop"></i></span>
                        <h3 class="pt-price"><span class="pt-amount">$ 5.75</span><span
                                class="pt-duration">per month</span>
                        </h3><h5 class="pt-support">24/7 Support</h5>
                        <ul class="features">
                            <li>Duis sed est in mi finibus</li>
                            <li>Nullam feugiat sem nec</li>
                            <li>Pellentesque feugiat nunc</li>
                            <li>Morbi ornare ipsum quis</li>
                        </ul>
                        <div class="pt-buttons"><a class="btn btn-trial" href="#">Free Trial</a><a class="btn btn-buy"
                                                                                                   href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="pt-inner-wrap"><h4 class="pt-title">Life Time</h4><span class="pt-cir"><i
                            class="fa fa-desktop"></i></span>
                        <h3 class="pt-price"><span class="pt-amount">$ 299.00</span><span
                                class="pt-duration">just once</span>
                        </h3><h5 class="pt-support">24/7 Support</h5>
                        <ul class="features">
                            <li>Duis sed est in mi finibus</li>
                            <li>Nullam feugiat sem nec</li>
                            <li>Pellentesque feugiat nunc</li>
                            <li>Morbi ornare ipsum quis</li>
                        </ul>
                        <div class="pt-buttons"><a class="btn btn-trial" href="#">Free Trial</a><a class="btn btn-buy"
                                                                                                   href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>